@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap');
:root {
    --background-color: #99ffeb;
    --arimo-font: 'Arimo';
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: start;
}

